<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid" style="width:600px">
  <div class="row">
    <h4 class="col-sm-12"> G'day, <%= @login %>. Tomorrow's surf report rating is <b><%= @swell_score %>/5</b>.</h4>
  </div>
  <table class = "table table-condensed" style="text-align: center">
    <thead>
    <td>   </td>
    <td>  Swell Height </td>
    <td>  Wind Direction </td>
    <td>  Temperature </td>
    <td>  Forecast </td>
    </thead>
    <tbody>
    <% @surf_data.each do |p| %>
        <tr>
          <td> <%= Time.at(p['localTimestamp']).strftime("%a %d %I:%M %p") %> </td>
          <td> <%= p['swell']['minBreakingHeight'] %>-<%= p['swell']['maxBreakingHeight'] %>ft </td>
          <td> <%= p['swell']['components']['combined']['compassDirection'] %> </td>
          <td> <%= p['condition']['temperature']%>&deg;C </td>
          <td style="padding: 0px">  <img class="img-responsive" style="margin: 0 auto;" src="http://cdnimages.magicseaweed.com/30x30/<%= p['condition']['weather'] %>.png" alt="<%= p['condition']['weather'] %>"></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-6 col-sm-6 and col-md-6" > <img class="img-responsive" src=" <%=@surf_data.first['charts']['wind'] %>" alt="Morning Image"> </div>
    <div class="col-xs-6 col-sm-6 and col-md-6" > <img class="img-responsive" src=" <%=@surf_data.last['charts']['wind'] %>" alt="Morning Image"> </div>
  </div>

  <div class="row">
    <br>
    <div class="col-sm-12" style="text-align: center">
      Check out
      <a href="https://magicseaweed.com/Coolum-Beach-Surf-Report/545/" target="_blank">Coolum Beach</a>,
      <a href="https://magicseaweed.com/Tea-Tree-Noosa-Surf-Report/544/" target="_blank">Tea Tree (Noosa)</a>.
      Got feedback? Reply to this email
    </div>
  </div>
</div>
</body>
</html>
